<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/perfil.css"/>
    <link rel="shortcut icon" href="radar-preconceito-icon.png" type="image/x-icon">
    <link rel="icon" href="radar-preconceito-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Perfil</title>
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar" style="overflow: hidden;">
                <a href="javascript:void(0)" id="close" class="closebtt" onclick="closemenu()">&times;</a>
                <h5>&nbsp;&nbsp;DASHBOARD RP</h5>
                <div class="sidebar-header">
                    
                    <h5 class="display-5">Bem vindo:</h5>
                    <h2>fotinha</h2>
                </div>
                <ul class="sidebar-elements" style="list-style-type: none;">
                    <li class="active"><i class="fas fa-home" style="margin-right:1vw"></i>Home</li>
                    <li class="decoration"><i class="fas fa-map-marker-alt" style="margin-right:1vw"></i>Denuncias Físicas</li>
                    <li><i class="fas fa-desktop"  style="margin-right:1vw"></i>Denuncias Virtuais</li>
                    <li class="decoration"><i class="fas fa-bug"  style="margin-right:1vw"></i>Reports de Bugs</li>
                    <li><i class="fas fa-comments"  style="margin-right:1vw"></i>Mensagens de Contato</li>
                    <li class="decoration"><i class="fas fa-users" style="margin-right:1vw"></i>Moderadores</li>
                    <li><i class="fas fa-user-md" style="margin-right:1vw"></i>Psicólogos</li>
                    <li class="decoration"><i class="fas fa-gavel"  style="margin-right:1vw"></i>Advogados</li>
                    <li><i class="fas fa-exclamation-triangle" style="margin-right:1vw"></i>Reports de Falsarios</li>
                    <li class="decoration"> <i class="fas fa-sign-in-alt" style="margin-right:1vw"></i>Deslogar</li>
                </ul>
            </nav>
            <div id="conteudo">
                    <span onclick="openmenu()" class="menuicon grey">&#9776;</span>
                        <div class="header container">
                        <h1>VISÃO GERAL</h1>
                        <hr>
                    </div>
                   <div class="row" >
                     <div class="col-lg-3"></div>  
                      <div class="col-lg-2">
                          <div class="card">
                           <div class="card-body">
                             <h5 class="card-title">Denúncias feitas:</h5>
                             <p class="card-text">Text</p>
                           </div>
                         </div>
                       </div>
                       <div class="col-lg-2">
                        <div class="card">
                           <div class="card-body">
                             <h5 class="card-title">Denúncias feitas hoje:</h5>
                             <p class="card-text">Text</p>
                           </div>
                           </div>
                       </div>
                       <div class="col-lg-2">
                       <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Denúncias físicas: </h5>
                            <p class="card-text">Text</p>
                          </div>
                        </div>
                       </div>
                       <div class="col-lg-2">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Denúncias virtuais: </h5>
                            <p class="card-text">Text</p>
                          </div>
                        </div>
                       </div>
                     </div>
                <br>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-2">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Moderadores:</h5>
                            <p class="card-text">Text</p>
                          </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Psicólogos:</h5>
                            <p class="card-text">Text</p>
                          </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="card">
                         <div class="card-body">
                           <h5 class="card-title">Advogados:</h5>
                           <p class="card-text">Text</p>
                         </div>
                       </div>
                    </div>
                </div>
                <hr>
                    <h5 style="font-size: 27px; color: white; text-align: center">Notificações</h5>
                    <br>
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-3">
                            <div class="alert alert-primary"><i class="fas fa-comments"  style="margin-right:1vw"></i>Você tem 0 mensagens novas de contato</div>
                        </div>
                        <div class="col-lg-3">
                            <div class="alert alert-danger"><i class="fas fa-bug"  style="margin-right:1vw"></i>Você tem 1 report de bug</div>
                        </div>
                        <div class="col-lg-3">
                            <div class="alert alert-danger"><i class="fas fa-exclamation-triangle" style="margin-right:1vw"></i>Você tem 1 report de falsário</div>
                        </div>
        </div>
        
    </div>

<script>
const media = window.matchMedia('(min-width:768px)');
if(media.matches){
 window.addEventListener('load',()=>{
    const media = window.matchMedia("(max-width:768px)")
    if(media.matches){
    let menuvalue = document.getElementById('sidebar');
    let topvalue = document.getElementById('conteudo');
    topvalue.style.marginleft='15%';
    menuvalue.style.width = '100%';
    }
    else{
        let button = document.getElementById('close');
        let menuvalue = document.getElementById('sidebar');
        let topvalue = document.getElementById('conteudo');
        topvalue.style.marginleft='15%';
        menuvalue.style.width = '15%';
        button.style.display = 'none';
    }
 });
}
</script>
<script src="menu.js">
 
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>      
</body>
</html>