body{
    background-color:#990000;
    font-family: 'Segoe UI Light';
    color:white;
}
.margin{
    width:60vw;
    margin-left:20vw;
}
.header{
    width:100vw;
}

@media(max-width:768px){
    .formulario{
        width:90vw;
        margin-left:0vw;
    }
    .margin{
        width:100vw;
        margin-left:0vw;
    }
    
}